*.iml
.gradle
/local.properties

# Ignore IntelliJ IDEA/Android Studio files
.idea/

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/md
.env

# Kotlin compiler cache and error logs
.kotlin/
